.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  height: 30px;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 20px;
  width: 100px;
  object-fit: contain;
}
.nav__button {
  cursor: pointer;
  position: fixed;
  right: 20px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: #e50914;
  padding-bottom: 0.5rem;
}
.nav__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
